<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adorgroup.babycar.mqtt.dao.StationMapper">
  <resultMap id="BaseResultMap" type="com.adorgroup.babycar.mqtt.domain.Station">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="intime" jdbcType="TIMESTAMP" property="intime" />
    <result column="worktime" jdbcType="TIMESTAMP" property="worktime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gprs_lng" jdbcType="DOUBLE" property="gprsLng" />
    <result column="gprs_lat" jdbcType="DOUBLE" property="gprsLat" />
    <result column="baidu_lng" jdbcType="DOUBLE" property="baiduLng" />
    <result column="baidu_lat" jdbcType="DOUBLE" property="baiduLat" />
    <result column="tencent_lng" jdbcType="DOUBLE" property="tencentLng" />
    <result column="tencent_lat" jdbcType="DOUBLE" property="tencentLat" />
    <result column="frn_id" jdbcType="INTEGER" property="frnId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="commission" jdbcType="DOUBLE" property="commission" />
    <result column="banner_images" jdbcType="VARCHAR" property="bannerImages" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="header_image" jdbcType="VARCHAR" property="headerImage" />
  </resultMap>
  <sql id="Base_Column_List">
    id, remark, status, intime, worktime, address, name, gprs_lng, gprs_lat, baidu_lng, 
    baidu_lat, tencent_lng, tencent_lat, frn_id, type, commission, banner_images, mobile, 
    contact, header_image
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dvc_station
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dvc_station
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.adorgroup.babycar.mqtt.domain.Station">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dvc_station (remark, status, intime, 
      worktime, address, name, 
      gprs_lng, gprs_lat, baidu_lng, 
      baidu_lat, tencent_lng, tencent_lat, 
      frn_id, type, commission, 
      banner_images, mobile, contact, 
      header_image)
    values (#{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP}, 
      #{worktime,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{gprsLng,jdbcType=DOUBLE}, #{gprsLat,jdbcType=DOUBLE}, #{baiduLng,jdbcType=DOUBLE}, 
      #{baiduLat,jdbcType=DOUBLE}, #{tencentLng,jdbcType=DOUBLE}, #{tencentLat,jdbcType=DOUBLE}, 
      #{frnId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{commission,jdbcType=DOUBLE}, 
      #{bannerImages,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{headerImage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adorgroup.babycar.mqtt.domain.Station">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dvc_station
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="intime != null">
        intime,
      </if>
      <if test="worktime != null">
        worktime,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gprsLng != null">
        gprs_lng,
      </if>
      <if test="gprsLat != null">
        gprs_lat,
      </if>
      <if test="baiduLng != null">
        baidu_lng,
      </if>
      <if test="baiduLat != null">
        baidu_lat,
      </if>
      <if test="tencentLng != null">
        tencent_lng,
      </if>
      <if test="tencentLat != null">
        tencent_lat,
      </if>
      <if test="frnId != null">
        frn_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="commission != null">
        commission,
      </if>
      <if test="bannerImages != null">
        banner_images,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="headerImage != null">
        header_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="intime != null">
        #{intime,jdbcType=TIMESTAMP},
      </if>
      <if test="worktime != null">
        #{worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gprsLng != null">
        #{gprsLng,jdbcType=DOUBLE},
      </if>
      <if test="gprsLat != null">
        #{gprsLat,jdbcType=DOUBLE},
      </if>
      <if test="baiduLng != null">
        #{baiduLng,jdbcType=DOUBLE},
      </if>
      <if test="baiduLat != null">
        #{baiduLat,jdbcType=DOUBLE},
      </if>
      <if test="tencentLng != null">
        #{tencentLng,jdbcType=DOUBLE},
      </if>
      <if test="tencentLat != null">
        #{tencentLat,jdbcType=DOUBLE},
      </if>
      <if test="frnId != null">
        #{frnId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="commission != null">
        #{commission,jdbcType=DOUBLE},
      </if>
      <if test="bannerImages != null">
        #{bannerImages,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="headerImage != null">
        #{headerImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adorgroup.babycar.mqtt.domain.Station">
    update dvc_station
    <set>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="intime != null">
        intime = #{intime,jdbcType=TIMESTAMP},
      </if>
      <if test="worktime != null">
        worktime = #{worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gprsLng != null">
        gprs_lng = #{gprsLng,jdbcType=DOUBLE},
      </if>
      <if test="gprsLat != null">
        gprs_lat = #{gprsLat,jdbcType=DOUBLE},
      </if>
      <if test="baiduLng != null">
        baidu_lng = #{baiduLng,jdbcType=DOUBLE},
      </if>
      <if test="baiduLat != null">
        baidu_lat = #{baiduLat,jdbcType=DOUBLE},
      </if>
      <if test="tencentLng != null">
        tencent_lng = #{tencentLng,jdbcType=DOUBLE},
      </if>
      <if test="tencentLat != null">
        tencent_lat = #{tencentLat,jdbcType=DOUBLE},
      </if>
      <if test="frnId != null">
        frn_id = #{frnId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="commission != null">
        commission = #{commission,jdbcType=DOUBLE},
      </if>
      <if test="bannerImages != null">
        banner_images = #{bannerImages,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="headerImage != null">
        header_image = #{headerImage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adorgroup.babycar.mqtt.domain.Station">
    update dvc_station
    set remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      intime = #{intime,jdbcType=TIMESTAMP},
      worktime = #{worktime,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gprs_lng = #{gprsLng,jdbcType=DOUBLE},
      gprs_lat = #{gprsLat,jdbcType=DOUBLE},
      baidu_lng = #{baiduLng,jdbcType=DOUBLE},
      baidu_lat = #{baiduLat,jdbcType=DOUBLE},
      tencent_lng = #{tencentLng,jdbcType=DOUBLE},
      tencent_lat = #{tencentLat,jdbcType=DOUBLE},
      frn_id = #{frnId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      commission = #{commission,jdbcType=DOUBLE},
      banner_images = #{bannerImages,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      header_image = #{headerImage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>