<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adorgroup.babycar.mqtt.dao.StationMapper">
  <resultMap id="BaseResultMap" type="com.adorgroup.babycar.mqtt.domain.Station">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="intime" jdbcType="TIMESTAMP" property="intime" />
    <result column="worktime" jdbcType="TIMESTAMP" property="worktime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gprs_lng" jdbcType="DOUBLE" property="gprsLng" />
    <result column="gprs_lat" jdbcType="DOUBLE" property="gprsLat" />
    <result column="baidu_lng" jdbcType="DOUBLE" property="baiduLng" />
    <result column="baidu_lat" jdbcType="DOUBLE" property="baiduLat" />
    <result column="tencent_lng" jdbcType="DOUBLE" property="tencentLng" />
    <result column="tencent_lat" jdbcType="DOUBLE" property="tencentLat" />
    <result column="frn_id" jdbcType="INTEGER" property="frnId" />
    <result column="unit_price" jdbcType="DOUBLE" property="unitPrice" />
    <result column="price_interval" jdbcType="DOUBLE" property="priceInterval" />
  </resultMap>
  <sql id="Base_Column_List">
    id, remark, status, intime, worktime, address, name, gprs_lng, gprs_lat, baidu_lng, 
    baidu_lat, tencent_lng, tencent_lat, frn_id, unit_price, price_interval
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dvc_station
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dvc_station
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.adorgroup.babycar.mqtt.domain.Station">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dvc_station (remark, status, intime, 
      worktime, address, name, 
      gprs_lng, gprs_lat, baidu_lng, 
      baidu_lat, tencent_lng, tencent_lat, 
      frn_id, unit_price, price_interval
      )
    values (#{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP}, 
      #{worktime,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{gprsLng,jdbcType=DOUBLE}, #{gprsLat,jdbcType=DOUBLE}, #{baiduLng,jdbcType=DOUBLE}, 
      #{baiduLat,jdbcType=DOUBLE}, #{tencentLng,jdbcType=DOUBLE}, #{tencentLat,jdbcType=DOUBLE}, 
      #{frnId,jdbcType=INTEGER}, #{unitPrice,jdbcType=DOUBLE}, #{priceInterval,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.adorgroup.babycar.mqtt.domain.Station">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dvc_station
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="intime != null">
        intime,
      </if>
      <if test="worktime != null">
        worktime,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gprsLng != null">
        gprs_lng,
      </if>
      <if test="gprsLat != null">
        gprs_lat,
      </if>
      <if test="baiduLng != null">
        baidu_lng,
      </if>
      <if test="baiduLat != null">
        baidu_lat,
      </if>
      <if test="tencentLng != null">
        tencent_lng,
      </if>
      <if test="tencentLat != null">
        tencent_lat,
      </if>
      <if test="frnId != null">
        frn_id,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="priceInterval != null">
        price_interval,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="intime != null">
        #{intime,jdbcType=TIMESTAMP},
      </if>
      <if test="worktime != null">
        #{worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gprsLng != null">
        #{gprsLng,jdbcType=DOUBLE},
      </if>
      <if test="gprsLat != null">
        #{gprsLat,jdbcType=DOUBLE},
      </if>
      <if test="baiduLng != null">
        #{baiduLng,jdbcType=DOUBLE},
      </if>
      <if test="baiduLat != null">
        #{baiduLat,jdbcType=DOUBLE},
      </if>
      <if test="tencentLng != null">
        #{tencentLng,jdbcType=DOUBLE},
      </if>
      <if test="tencentLat != null">
        #{tencentLat,jdbcType=DOUBLE},
      </if>
      <if test="frnId != null">
        #{frnId,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="priceInterval != null">
        #{priceInterval,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adorgroup.babycar.mqtt.domain.Station">
    update dvc_station
    <set>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="intime != null">
        intime = #{intime,jdbcType=TIMESTAMP},
      </if>
      <if test="worktime != null">
        worktime = #{worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gprsLng != null">
        gprs_lng = #{gprsLng,jdbcType=DOUBLE},
      </if>
      <if test="gprsLat != null">
        gprs_lat = #{gprsLat,jdbcType=DOUBLE},
      </if>
      <if test="baiduLng != null">
        baidu_lng = #{baiduLng,jdbcType=DOUBLE},
      </if>
      <if test="baiduLat != null">
        baidu_lat = #{baiduLat,jdbcType=DOUBLE},
      </if>
      <if test="tencentLng != null">
        tencent_lng = #{tencentLng,jdbcType=DOUBLE},
      </if>
      <if test="tencentLat != null">
        tencent_lat = #{tencentLat,jdbcType=DOUBLE},
      </if>
      <if test="frnId != null">
        frn_id = #{frnId,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="priceInterval != null">
        price_interval = #{priceInterval,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adorgroup.babycar.mqtt.domain.Station">
    update dvc_station
    set remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      intime = #{intime,jdbcType=TIMESTAMP},
      worktime = #{worktime,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gprs_lng = #{gprsLng,jdbcType=DOUBLE},
      gprs_lat = #{gprsLat,jdbcType=DOUBLE},
      baidu_lng = #{baiduLng,jdbcType=DOUBLE},
      baidu_lat = #{baiduLat,jdbcType=DOUBLE},
      tencent_lng = #{tencentLng,jdbcType=DOUBLE},
      tencent_lat = #{tencentLat,jdbcType=DOUBLE},
      frn_id = #{frnId,jdbcType=INTEGER},
      unit_price = #{unitPrice,jdbcType=DOUBLE},
      price_interval = #{priceInterval,jdbcType=DOUBLE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>